# Ignore binary folders
resources/tv/Data
resources/2D

# Python virtual environment
env/

# Configuration with sensible data
resources/tv/Config/Email.cfg

# Empty folders
downloads
git
bin
backups

# IDEs
.vscode/
